.footer {
	background-color:#a9b2d8;
	color: white;
	padding: 15px;
  margin-top: 50px;
  }
  
  .footer-title, .footer-subtitle {
	font-weight: bold;
  }
  
  .footer-social-icons {
	list-style-type: none;
	display: flex;
	gap: 1rem;
  }
  
  .footer-social-icons li {
	display: inline-block;
  }
  
  .footer-icon {
	font-size: 2rem;
	color: white;
  }
  
  .footer-list {
	list-style-type: none;
	padding: 0;
  }
  
  .footer-list li {
	margin-bottom: 15px;  /* Adds space between list items */
  }
  
  .footer-link {
	color: white;
	text-decoration: none;
  }
  
  .footer-link:hover {
	text-decoration: underline;
  }
  
  .footer-button {
	margin-top: 1rem;
  }
  
  .footer-address, .footer-contact {
	margin-top: 1rem;
	color: white;
  }
  
  .footer-contact li {
	margin-bottom: 0.5rem;
	list-style: none;
  }
  